{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content%}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm" style="margin-top: 150px;">
      <div class="card-body">
        <h3 class="text-center mb-3">Login</h3>

        <form id="loginForm" id="loginForm">
          {% csrf_token %}

          <input class="form-control mb-1" name="username" placeholder="Username" required/>
          <small id="usernameError" class="text-danger d-none"></small>

          <input class="form-control mt-3 mb-1" type="password" name="password" placeholder="Password" required/>
          <small id="passwordError" class="text-danger d-none"></small>

          <button class="btn btn-primary w-100 mt-3">Login</button>
        </form>

        <div class="text-center mt-3">
          <a href="{% url 'register' %}">Don't have an account? Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(function () {
    const form = $("#loginForm");

    const usernameInput = $("input[name='username']");
    const passwordInput = $("input[name='password']");

    const usernameError = $("#usernameError");
    const passwordError = $("#passwordError");

    usernameInput.on("input", () => {
      usernameInput.val(usernameInput.val().trimStart());
      usernameError.addClass("d-none").text("");
    });

    passwordInput.on("input", () => {
      passwordInput.val(passwordInput.val().trimStart());
      passwordError.addClass("d-none").text("");
    });

    form.on("submit", function (e) {
      e.preventDefault();

      let valid = true;

      usernameInput.val(usernameInput.val().trimStart());
      passwordInput.val(passwordInput.val().trimStart());

      if (usernameInput.val().trim().length < 4) {
        usernameError.removeClass("d-none").text("Username must be at least 4 characters");
        valid = false;
      }

      if (passwordInput.val().trim().length < 6) {
        passwordError.removeClass("d-none").text("Password must be at least 6 characters");
        valid = false;
      }

      if (!valid) return;

      ajaxRequest({
        url: "{% url 'login' %}",
        method: "POST",
        data: Object.fromEntries(new FormData(form[0])),
        onSuccess: function (res) {
          if (res.success) {
            window.location.href = "/blogs/";
          } else if (res.field === "username") {
            usernameError.removeClass("d-none").text(res.error);
          } else if (res.field === "password") {
            passwordError.removeClass("d-none").text(res.error);
          }
        },
        onError: function () {
          alert("Server error");
        }
      });
    });
  });
</script>
{% endblock %}
