{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm" style="margin-top: 150px;">
      <div class="card-body"">
        <h3 class="text-center mb-3">Register</h3>

        <form id="registerForm">
          {% csrf_token %}
          <div id="successMsg" class="alert alert-success d-none">
              Registration successful. You can now login.
          </div>

          <input class="form-control mb-1" name="username" placeholder="Username" required />
          <small id="usernameError" class="text-danger d-none"></small>

          <input class="form-control mt-3 mb-1" name="email" type="email" placeholder="Email" required />
          <small id="emailError" class="text-danger d-none"></small>

          <input class="form-control mt-3 mb-1" name="password" type="password" placeholder="Password" required />
          <small id="passwordError" class="text-danger d-none"></small>

          <button type="submit" class="btn btn-success w-100 mt-3">Register</button>
        </form>

        <div class="text-center mt-3">
          <a href="{% url 'login' %}">Already have an account? Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(function () {
    const form = $("#registerForm");

    const usernameInput = $("input[name='username']");
    const emailInput = $("input[name='email']");
    const passwordInput = $("input[name='password']");

    const usernameError = $("#usernameError");
    const emailError = $("#emailError");
    const passwordError = $("#passwordError");

    usernameInput.on("input", () =>
      usernameError.addClass("d-none").text("")
    );

    emailInput.on("input", () =>
      emailError.addClass("d-none").text("")
    );

    passwordInput.on("input", () =>
      passwordError.addClass("d-none").text("")
    );

    form.on("submit", function (e) {
      e.preventDefault();

      let valid = true;

      usernameError.addClass("d-none").text("");
      emailError.addClass("d-none").text("");
      passwordError.addClass("d-none").text("");

      if (usernameInput.val().trim().length < 4) {
        usernameError
          .removeClass("d-none")
          .text("Username must be at least 4 characters");
        valid = false;
      }

      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!emailRegex.test(emailInput.val())) {
        emailError
          .removeClass("d-none")
          .text("Enter a valid email");
        valid = false;
      }

      if (passwordInput.val().trim().length < 6) {
        passwordError
          .removeClass("d-none")
          .text("Password must be at least 6 characters");
        valid = false;
      }

      if (!valid) return;

      $.ajax({
        url: "{% url 'register' %}",
        type: "POST",
        data: form.serialize(),
        success: function (res) {
          if (res.success) {
            $("#successMsg").removeClass("d-none");
            form.trigger("reset");           
            setTimeout(function () {
            $("#successMsg").addClass("d-none");
            }, 3000);

          } else if (res.field === "username") {
            usernameError.removeClass("d-none").text(res.error);
          } else if (res.field === "email") {
            emailError.removeClass("d-none").text(res.error);
          }
        },
        error: function () {
          alert("Server error");
        }
      });
    });
  });
</script>
{% endblock %}
